.place__title {
  padding: 0;
  border: 0;
  margin: 0 16px;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.09;
}

@media (min-width: 321px) and (max-width: 768px) {
  .place__title {
    margin: 0;
    max-width: 330px;
    font-size: calc((100vw - 321px)/(768 - 321)*(42 - 32) + 32px);
    line-height: 1.1;
  }
}

@media screen and (min-width: 769px) {
  .place__title {
    margin: 0;
    max-width: 430px;
    font-size: calc((100vw - 769px)/(1024 - 769)*(72 - 42) + 42px);
    line-height: 1.06;
  }
}
  
  @media screen and (min-width: 1025px) {
    .place__title {
    font-size: 72px;
    max-width: fit-content;
    }
  }