.place__website__link {
  margin: 0;
  padding: 0;
  color: #fff;
  font-weight: 400;
  font-size: 1.125em;
  line-height: 1.22;
  text-decoration: none;
  display: table;
  border-bottom: 1px solid #fff;
}