.header {
  background: #2A2C2F;
  margin: 0;
  display: flex;
  justify-content: space-between;
  border: 0;
  padding: 16px 16px 8px;
}

@media (min-width: 321px) and (max-width: 768px) {
  .header {
    padding: 28px 24px 8px;
  }
}

@media screen and (min-width: 769px) {
  .header {
    padding: 28px 48px 8px;
  }
}