.lead__title {
  max-height: 200px;
  padding: 0;
  text-align: center;
  margin: 0 16px;
  font-weight: 900;
  font-size: calc((100vw - 221px)/(321 - 221)*(40 - 24) + 24.16px);
  line-height: 1.1;
}


@media (min-width: 321px) and (max-width:768px) {
  .lead__title {
    margin: 0 24px;
    font-size: calc((100vw - 321px)/(768 - 321)*(96 - 40) + 40px);
    line-height: 1.04;
  }
}

@media screen and (min-width: 769px) {
  .lead__title {
    margin: 0 auto;
    max-width: 720px;
    font-size: 96px;
    line-height: 1.04;
  }
}