.place__paragraph {
  padding: 0;
  border: 0;
  margin:0 16px;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.63;
}

@media (min-width: 321px) and (max-width: 786px) {
  .place__paragraph {
    margin: 0;
  }
}

@media screen and (min-width: 787px) {
  .place__paragraph {
    margin: 0;
    font-size: 1.125em;
    line-height: 1.6;
  }
}