.intro__text {
  padding: 40px 0 33px;
  margin:0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
}

@media screen and (min-width:769px) {
  .intro__text {
    max-width: 690px;
    line-height: 1.62;
  }
}