.cover {
  margin: 0;
  padding: 0 0 64px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

@media (min-width: 321px) and (max-width: 786px) {
  .cover {
    padding: 0 0 88px;
  }
}

@media screen and (min-width: 787px) {
  .cover {
    padding: 0 0 92px;
  }
}

@media screen and (min-width: 1025px) {
  .cover {
    margin: 0 48px;
  }
}
