.cover__background {
  min-height: 200px;
  margin: 0;
  padding: 0;
  color: #fff;
  text-decoration: none;
  box-sizing: border-box;
  background-image: url(../../../images/cover__background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.cover__background::before {
  content: "";
  background: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.5s;
  z-index: -1;
}

.cover__background:hover::before {
  opacity: 0.8;
}

@media (min-width: 321px) and (max-width: 786px) {
  .cover__background {
    min-height: 480px;
    width: 100%;
  }
}

@media (min-width: 321px) and (max-width: 786px) {
  .cover__background {
    min-height: 640px;
    width: 100%;
  }
}