.cover__title {
  max-width: 288px;
  padding: 0;
  text-align: center;
  margin: 0 auto;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.09;
}

@media screen and (min-width: 321px) {
  .cover__title {
    max-width: 560px;
    font-size: calc((100vw - 321px)/(768 - 321)*(72 - 32) + 32px);
    line-height: 1.06;
  }
}

@media screen and (min-width: 768px) {
  .cover__title {
    font-size: 72px;
    line-height: 1.07;
  }
}