.place {
  margin: 0;
  padding: 0;
  border: 0;
  display: grid;
  row-gap: 31px;
}

@media (min-width: 550px) and (max-width: 786px) {
  .place {
    row-gap: 48px;
    column-gap: 28px;
    grid-template-columns: 1fr minmax(min-content, 352px);
  }
}

@media (min-width: 787px) and (max-width: 1024px) {
  .place {
    row-gap: 47px;
    column-gap: 32px;
    grid-template-columns: 1fr minmax(min-content, 456px);
  }
}

@media screen and (min-width: 1025px) {
  .place {
    justify-content: center;
    row-gap: 48px;
    column-gap: 40px;
    grid-template-columns: minmax(min-content, 460px) minmax(min-content, 484px);
  }
}