.footer {
  min-height: 310px;
  margin: 0 16px 24px;
  padding: 0;
  background: #2A2C2F;
  color:#fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

@media (min-width: 691px) and (max-width: 768px) {
  .footer {
    margin: 0 24px 24px;
    flex-direction: row;
    min-height: max-content;
  }
}

@media screen and (min-width: 769px) {
  .footer {
    margin: 0 48px 24px;
    flex-direction: row;
    min-height: max-content;
  }
}